<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="border">
                <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="border">
                <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="border">
                <fusioncharts
   [type]="type"
   [width]="width"
   [height]="height"
   [dataSource]="dataSource"
>
</fusioncharts>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="border">
                <div id="chartContainer4" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>